.banner {
	background-image: url(../../images/background.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-family: 70px;
}

.banner h2{
	font-family: 55px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}